<div class="wrapper">
    <mat-toolbar class="mat-primary">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Deal Finder</h1>
    </mat-toolbar>
    <mat-sidenav-container
            class="sidenav-container" (backdropClick)="close('backdrop')">
        <mat-sidenav #sidenav (keydown.escape)="close('escape')" class="sidenav">
            <button mat-button routerLink="/" (click)="sidenav.toggle()">Home</button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/new-deal" (click)="sidenav.toggle()">Add Deal</button>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>