<div class="wrapper">
    <mat-toolbar class="mat-primary">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Deal Finder</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="user-info" *ngIf="user">
                    <h5>{{ user.username }}</h5>
                    <img routerLink="account" src="{{ user.picture }}"/>
                </div>
            </div>
        </div>
    </mat-toolbar>
    <mat-sidenav-container
            class="sidenav-container" (backdropClick)="close()">
        <mat-sidenav #sidenav (keydown.escape)="close()" class="sidenav">
            <button mat-button routerLink="/" (click)="sidenav.toggle()">Home</button>
            <mat-divider class="divider-highlight"></mat-divider>
            <button mat-button routerLink="/new-deal" (click)="sidenav.toggle()" *ngIf="isUserLoggedIn">Add Deal
            </button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/sign-up" (click)="sidenav.toggle()" *ngIf="!isUserLoggedIn">Log in</button>
            <button mat-button routerLink="account" (click)="sidenav.toggle()" *ngIf="isUserLoggedIn">Account Settings
            </button>
            <mat-divider></mat-divider>
            <button mat-button (click)="logout()" *ngIf="isUserLoggedIn">Log out</button>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>