<p class="message" *ngIf="data && data.message">{{ data.message }}</p>
<div *ngIf="data.deal && !data.onlyMap" class="deal-card">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="title">{{ data.deal.title }}</h2>
            <h6 class="distance">{{ data.deal.distanceDescription }}</h6>
        </div>
        <div class="col-sm-6">
            <div class="user">
                <h5>{{ data.deal.user.username }}</h5>
                <img src="{{ data.deal.user.picture }}"/>
            </div>
        </div>
    </div>
    <div class="summary">{{ data.deal.summary }}</div>
    <br>
    <button mat-raised-button class="button" color="primary" style="width:100%;"
            (click)="displayRoute(data.destinationCoordinates)">
        View Route
    </button>
    <br>
</div>
<a target="_blank" *ngIf="data.deal"
   href="https://www.google.co.uk/maps/dir/{{ data.currentCoordinates.latitude }},{{ data.currentCoordinates.longitude }}/{{ data.deal.location.latitude }},{{ data.deal.location.longitude }}/data=!3m1!4b1!4m2!4m1!3e0">
    <button mat-raised-button class="button" color="primary" style="width:100%;">Open in Google Maps</button>
</a>
<agm-map *ngIf="data.onlyMap" #map class="map" [latitude]="data.currentCoordinates.latitude"
         [longitude]="data.currentCoordinates.longitude"
         [zoom]="15"
         [streetViewControl]="false"
         [mapTypeControl]="true" [fullscreenControl]="false">
    <agm-direction [origin]="data.originCoordinates"
                   [destination]="data.destinationCoordinates"></agm-direction>
</agm-map>