<mat-card>
    <h1>Nearby Deals</h1>
    <div class="spinner-wrapper">
        <mat-spinner *ngIf="dealsModel.deals.length === 0 && dealsModel.feedback.length === 0"></mat-spinner>
    </div>
    {{ dealsModel.feedback }}
    <mat-card class="deal-card" *ngFor="let deal of dealsModel.deals">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="title">{{ deal.title }}</h2>
                <h6 class="distance">{{ deal.distanceDescription }}</h6>
            </div>
            <div class="col-sm-6">
                <div class="user">
                    <h5>{{ deal.user.username }}</h5>
                    <img src="{{ deal.user.picture }}"/>
                </div>
            </div>
        </div>
        <div class="summary">{{ deal.summary }}</div>
    </mat-card>
    <div class="alert" *ngIf="dealsModel.hasError">{{ dealsModel.error }}</div>
</mat-card>