<mat-card>
    <h1>Nearby Deals</h1>
    <div class="spinner-wrapper">
        <mat-spinner *ngIf="dealsModel.deals.length === 0"></mat-spinner>
    </div>
    <mat-card class="deal-card" *ngFor="let deal of dealsModel.deals">
        <div class="title">{{ deal.title }}</div>
        <div class="distance">{{ deal.distanceDescription }}</div>
        <div class="summary">{{ deal.summary }}</div>
    </mat-card>
    <div class="alert" *ngIf="dealsModel.hasError">{{ dealsModel.error }}</div>
</mat-card>