<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Nearby Deals</h1>
        </div>
        <div class="col-md-6">
            <div class="slider">
                Results Radius ({{ dealsModel.resultsRadius ? dealsModel.resultsRadius + ' miles' : 'showing all' }})
                <mat-slider min="0"
                            max="{{highestDistance}}"
                            value="{{highestDistance}}"
                            thumbLabel
                            step="1"
                            (change)="updateResultsRadius($event)"></mat-slider>
            </div>
        </div>
    </div>
    <mat-tab-group (selectedTabChange)="resizeMap($event)">
        <mat-tab label="List View">
            <div class="spacer"></div>
            <div class="spinner-wrapper">
                <mat-spinner *ngIf="dealsModel.deals.length === 0 && dealsModel.feedback.length === 0"></mat-spinner>
            </div>
            <mat-card class="deal-card feedback-card" *ngIf="this.dealsModel.feedback" (click)="reloadDeals()">
                <p>{{ dealsModel.feedback }}</p>
            </mat-card>
            <mat-card class="deal-card" *ngFor="let deal of dealsModel.deals | onlyVisibleFilter">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="title">{{ deal.title }}</h2>
                        <h6 class="distance">
                            <span class="grey">{{ deal.distanceDescription }}</span>
                            <div style="font-weight:normal;">
                                Score: <span style="font-weight:bold;">{{ deal.votes.finalScore }}</span> out of
                                <span style="font-weight:bold;">{{ deal.votes.totalVotes }}</span> votes.
                                | {{ deal.createdAt | amTimeAgo }}
                            </div>
                            <div *ngIf="user && !deal.votes.hasAlreadyVoted">
                                <span class="clickable plus" (click)="voteUp(deal)">+</span>
                                vote
                                <span class="clickable minus" (click)="voteDown(deal)">-</span>
                            </div>
                        </h6>

                    </div>
                    <div class="col-sm-6">
                        <div class="user">
                            <h5>{{ deal.user.username }}</h5>
                            <img src="{{ deal.user.picture }}"/>
                        </div>
                    </div>
                </div>
                <div class="summary">{{ deal.summary }}</div>
                <div class="tags" *ngIf="deal.tags">
                    <mat-chip-list selectable="false">
                        <mat-chip color="primary" *ngFor="let tag of deal.tags">{{ tag }}</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="mark-as-expired" [ngClass]="{ 'enable': deal.expired }"
                     *ngIf="user && deal.user.identifier === user.identifier">
                    <button mat-mini-fab (click)="markAsExpired(deal)"
                            title="{{ !deal.expired ? 'Mark as Expired' : 'Mark as Active' }}">
                        <i class="material-icons" *ngIf="!deal.expired">clear</i>
                        <i class="material-icons" *ngIf="deal.expired">done</i>
                    </button>
                </div>
                <div class="get-directions">
                    <button mat-mini-fab (click)="viewDealDetails(deal, {onlyMap:true})">
                        <i class="material-icons">&#xe52e;</i>
                    </button>
                </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Map View">
            <div class="spacer"></div>
            <agm-map #map class="map" [latitude]="currentCoordinates.latitude"
                     [longitude]="currentCoordinates.longitude"
                     [zoom]="15"
                     [streetViewControl]="false"
                     [mapTypeControl]="true" [fullscreenControl]="false">
                <agm-marker *ngFor="let deal of dealsModel.deals | onlyVisibleFilter"
                            [latitude]="deal.location.latitude"
                            [longitude]="deal.location.longitude"
                            [iconUrl]="'assets/deal-pin.png'" (markerClick)="viewDealDetails(deal)"></agm-marker>
                <agm-marker [latitude]="currentCoordinates.latitude"
                            [longitude]="currentCoordinates.longitude"
                            [iconUrl]="'assets/pin.png'" (markerClick)="viewYouAreHere()"></agm-marker>
                <agm-direction *ngIf="destinationCoordinates" [origin]="originCoordinates"
                               [destination]="destinationCoordinates"></agm-direction>
            </agm-map>
        </mat-tab>
    </mat-tab-group>
    <div class="alert" *ngIf="dealsModel.hasError">{{ dealsModel.error }}</div>
</div>
