@import "../../styles";

.account-form {
  * {
    width: 100%;
  }
}

.map {
  height: 300px;
}

.button {
  width: 100%;

  &:hover {
    background-color: darken(#fff, 20%) !important;
  }

  &.danger {
    background-color: $failure !important;
    color: #fff;

    &:hover {
      background-color: $failure-light !important;
    }
  }
}