<mat-card>
    <h1>New Deal</h1>
    <div class="new-deal-form">
        <mat-form-field>
            <input matInput placeholder="Title" (change)="updateTitleValue($event)">
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Summary" (change)="updateSummaryValue($event)"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="demo-chip-list">
            <mat-chip-list #tagList>
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                          [removable]="removable" (remove)="remove(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Tags"
                       [matChipInputFor]="tagList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"/>
            </mat-chip-list>
        </mat-form-field>
        <br>
        <agm-map class="map" *ngIf="coordinates" [latitude]="initialCoordinates.latitude"
                 [longitude]="initialCoordinates.longitude"
                 [zoom]="15"
                 [streetViewControl]="false"
                 [mapTypeControl]="true" [fullscreenControl]="false" (mapClick)="placeMarker($event)">
            <agm-marker [latitude]="coordinates.latitude" [longitude]="coordinates.longitude"
                        [iconUrl]="'assets/pin.png'"></agm-marker>
        </agm-map>
        <br>
        <mat-card class="deal-card error-message" *ngIf="errorMessage">
            <p>{{ errorMessage }}</p>
        </mat-card>
        <button mat-raised-button class="button" color="primary" (click)="submit()">Submit</button>
    </div>
</mat-card>