@import "../../styles";

.new-deal-form {
  display: flex;
  flex-direction: column;

  * {
    width: 100%;
  }

  .coordinates {
    padding: 15px;
    text-align: center;
  }

  .map {
    height: 300px;
  }
}

.deal-card {
  margin-bottom: 15px;
  width: auto !important;

  &.feedback-card {
    background-color: $failure-light;
    border: 1px solid $failure-dark;
    color: #333;
    font-weight: bold;
  }
}
