<mat-card>
    <h1>New Deal</h1>
    <div class="new-deal-form">
        <mat-form-field>
            <input matInput placeholder="Title" (change)="updateTitleValue($event)">
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Summary" (change)="updateSummaryValue($event)"></textarea>
        </mat-form-field>
        <br>
        <agm-map class="map" *ngIf="coordinates" [latitude]="initialCoordinates.latitude"
                 [longitude]="initialCoordinates.longitude"
                 [zoom]="15"
                 [streetViewControl]="false"
                 [mapTypeControl]="true" [fullscreenControl]="false" (mapClick)="placeMarker($event)">
            <agm-marker [latitude]="coordinates.latitude" [longitude]="coordinates.longitude"
                        [iconUrl]="'assets/pin.png'"></agm-marker>
        </agm-map>
        <br>
        <mat-card class="deal-card error-message" *ngIf="errorMessage">
            <p>{{ errorMessage }}</p>
        </mat-card>
        <button mat-raised-button class="button" color="primary" (click)="submit()">Submit</button>
    </div>
</mat-card>