@import 'styles/normalize';
@import 'styles/common';
@import 'styles/grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$success-dark: #27ae60;
$success-light: #2ecc71;
$failure-dark: #c0392b;
$failure-light: #e74c3c;

.content-wrapper {
  padding: 15px;
}

.button {
  padding: 10px 15px;
  margin-bottom: 15px;
}