@import 'styles/normalize';
@import 'styles/common';
@import 'styles/grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$success-dark: #27ae60;
$success-light: #2ecc71;
$failure-dark: #c0392b;
$failure-light: #e74c3c;

.content-wrapper {
  padding: 15px;
}

.button {
  padding: 10px 15px;
  margin-bottom: 15px;
}

.clickable {
  cursor: pointer;
}

.grey {
  color: #999;
}

.error-message {
  background-color: $failure-light;
  border: 1px solid $failure-dark;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
}

.success-message {
  background-color: $success-light;
  border: 1px solid $success-dark;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
}